.fabric/
dashloader-cache/
fancymenu_data/
logs/
mods/
ModTranslations/
resourcepacks/
shaderpacks/
scripts/examples/
options.txt
profile.json
*.zip
irisUpdateInfo.json
knownkeys.txt
options.amecsapi.txt
patchouli_data.json
realms_persistence.json
servers.dat
spell_engine_tutorial.json
