.fabric/
crash-reports/
data/
dashloader-cache/
fancymenu_data/
fancymenu_instance_data/
logs/
mods/
modernfix/
ModTranslations/
resourcepacks/
saves/
screenshots/
shaderpacks/
scripts/examples/
XaeroWaypoints/
XaeroWorldMap/
options.txt
profile.json
*.zip
irisUpdateInfo.json
knownkeys.txt
options.amecsapi.txt
patchouli_data.json
realms_persistence.json
servers.dat
spell_engine_tutorial.json
.spyglass_astronomy/rendering.txt
usercache.json
heracles_options.json
